body {
    font-family: $font-varela;
    overflow-x: hidden;
    font-size:$size1;
}

.font-1 {
    font-size: $size1;
}

.font-2 {
    font-size: $size2;
}

.font-3 {
    font-size: $size3;
}

.font-4 {
    font-size: $size4;
}

.font-5 {
    font-size: $size5;
}

.font-6 {
    font-size: $size6;
}

.font-7 {
    font-size: $size7;
}

.font-8 {
    font-size: $size8;
}

.font-9 {
    font-size: $size9;
}

.font-10 {
    font-size: $size10;
}


.font-11 {
    font-size: $size11;
}

.font-12 {
    font-size:$size12;
}

.font-13 {
    font-size:$size13;
}

.font-14 {
    font-size: $size14;
}

.font-15 {
    font-size: $size15;
}

.font-16 {
    font-size: $size16;
}

.font-17 {
    font-size: $size17;
}

.font-18 {
    font-size: $size18;
}

.font-19 {
    font-size: $size19;
}

.font-20 {
    font-size: $size20;
}

.font-21 {
    font-size: $size21;
}

.font-22 {
    font-size: $size22;
}

.lineheight-1 {
    line-height:$lineheight1;
}

.lineheight-2 {
    line-height:$lineheight2;
}

.lineheight-3 {
    line-height:$lineheight3;
}

.lineheight-4 {
    line-height: $lineheight4;
}

.hero {
    padding-top:30px;
    padding-bottom:30px;
    background-size:cover;
}

.tourism {
    background-position:center;
    background-size:cover;
}

.propevent p {
    width: 90%;
}

.lbrown {
    color: $lbrown;
}

.lbrown-background {
    background-color: $lbrown;
}

.brown-background {
    background-color: $brown;
}

.brown-text {
    color: $brown;
}

.dgreen-btn {
    background-color: $dgreen;
}

.g-button {
    background: $lgreen;
}

.hero .btn {
    background: $lgreen;
    width: 320px;
    font-size: 1.2em;
    height: 50px;
    border-radius: 12px;
}

.tourism .btn {
    background: $lgreen;
    width: 230px;
    height: 50px;
    border-radius: 12px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oficinas .btn {
    width: 220px;
    border-radius: 12px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oficinas .swiper-slide {
    width: 30%;
}

.integration-center .btn {
    background: $brown;
    width: 230px;
    height: 50px;
    font-size: 1.2em;
    border-radius: 12px;
}

#divID {
    display: none;
}

.integration-center .slide1,
.integration-center .slide2,
.integration-center .slide3 {
    height: 30px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(133, 146, 32);
}

.propevent .img-fluid {
    height: 325px;
}

.gray-text {
    color: $gray;
}

.rounded-border {
    border-radius: $rounded-border;
}

#indicatorTime {
    margin-top: -20px;
}

#divID1,
#divID2,
#divID4,
#divID5 {
    display: none;
}

.integration-center {
    position: relative;
}

.cartoes {
    position: absolute;
    right: -750px;
    margin-top: -150px
}

.cartao {
    width: 350px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cartao-3 {
    margin-top: -80px;
    border-radius: 15px;
    display: flex;
    position: relative;
    justify-content: flex-end;
    flex-direction: column;
    background-image: url('../../public/images/banner/foto-centro-negocios.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 425px;
    cursor: pointer;
}

.cartao-3 {
    position: relative;
}

.cartao-3:before {
    /* requerido */
    content: '';

    /* estilo de preto quase transparente */
    background-color: black;
    opacity: 0.5;

    /* posiciona nos limites do elemento pai */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.card-slide .swiper-container {
    width: 100vw;
    height: 100%;
}

.two {
    width: 100vw;
    height: 100%;

    .two-prev {
        position: absolute;
        z-index: 999;
        left: 0;
        width: 64px;
    }

    .two-next {
        position: absolute;
        z-index: 999;
        right: 0;
        transform: scaleX(-1);
        width: 64px;
    }
}

.enterprise-card {
    height: 430px;
    transition: all 400ms;
    display: flex;
    border-radius: $rounded-border;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    transition: all 200ms;
}

.enterprise-card:hover {
    transition: all ease-in-out 200ms;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: white;

    img {
        margin-top: -200px;
        transition: all ease-in-out 200ms;
    }

    .enterprise-content {
        opacity: 1;
        color: $gray;
        visibility: visible;
        position: absolute;
        display: flex;
        height: 410px;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        transition: all ease-in-out 200ms;
    }
}

.dias,
.horas,
.min,
.seg {
    margin-top: -10px;
    font-size: $size13;
    font-family: $font-varela;
    font-weight: lighter;
}

.enterprise-content {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.data1,
.data2,
.data3,
.data4 {
    background-color: white;
    color: $brown;
    height: 280px;
    z-index: 2;
    font-size: 375%;
    border-bottom: 3px solid $orange;
    font-weight: lighter;
    cursor: pointer;
}

.data5,
.data6,
.data7,
.data8 {
    background-color: white;
    color: $orange;
    z-index: 2;
    border-bottom: 4px solid $orange;
    font-weight: lighter;
    cursor: pointer;
}

.accordion-button:not(.collapsed) {
    color: $brown;
    box-shadow: 0px white !important;
    background-color: white;
    border: 0px solid white;
}

.accordion-button:focus {
    border: 0px solid white !important;
    box-shadow: 0px white !important;
}


.data1 {
    border-top-left-radius: 20px;
    border-right: 3px solid $orange;
}

.data4 {
    border-top-right-radius: 20px;
    border-left: 3px solid $orange;
}

.data3 {
    border-left: 3px solid $orange;
}

.data1:hover {
    background-color: orange;
    color: white;
    transform: scaleX(1.07);
    transform-origin: left;
}

.data2:hover,
.data3:hover {
    background-color: orange;
    color: white;
    transform: scaleX(1.07);
}

.data4:hover {
    background-color: orange;
    color: white;
    transform: scaleX(1.07);
    transform-origin: right;
}

.info-dates {
    position: relative;
    margin-top: -650px;
}

.virada {
    height:1400px;
    background-size:cover;
}

.card-slide .card {
    width: 350px;
    height: 500px;
    background-color: $lgreen;
}

.info-speaker {
    top: 0;
    left: 0;
    margin-top: 244px;
    margin-left: 20px;
    position: relative;
}

.calendar-speaker {
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 25px;
    position: absolute;
}

.orange-font {
    color: $orange;
}

.background-green {
    background-color: $lgreen;

    &:before {
        content: url('../../public/images/backgrounds/barrinhas.svg');
        top: 0;
        left: 0;
        margin-left: -350px;
    }

    &:after {
        content: url('../../public/images/backgrounds/barrinhas.svg');
        position: absolute;
        right: 0;
        margin-top: -151px;
        margin-right: -350px;
    }
}

.speakers {
    position: relative;
    height: 70%;
}

.vertical {
    border-left: 2px solid $white;
    height: 120px;
    margin-top: -20px;
}

.seta {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.timer {
    font-size: 1em;
}

.less-text {
    width: 80%;
}

.slide-item:hover {
    border-bottom: 4px solid $lgreen;
    transition: width 600ms;
    cursor: pointer;
}

.menu-ativo {
    border-bottom: 4px solid $lgreen;
    cursor: pointer;
}

.orange-border {
    border: 4px solid $orange;
    width: 100px;
}

.orange-border-bottom {
    border-bottom: 4px solid $orange;
}

.speaker-card {
    height: 520px;
    width: 100% !important;
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    border-radius: $rounded-border;
    z-index: 0;

    &:after {
        content: "";
        height: 100%;
        width: 100%;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6138830532212884) 0%, rgba(0, 0, 0, 0) 100%);
        top: 0;
        left: 0;
        border-radius: 25px;
        background-position: center;
        position: absolute;
        z-index: -1;
    }
}

.card-slide .swiper-slide {
    width: 27%
}

.speaker-content {
    position: absolute;
    bottom: 0;
    background-color: $lgreen;
    z-index: 1;
    border-bottom-left-radius: $rounded-border;
    border-bottom-right-radius: $rounded-border;
}

.data5:hover,
.data6:hover,
.data7:hover,
.data8:hover {
    background-color: $orange;
    color: $white;
}

.accordion-prog {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion-prog:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

@media only screen and (max-width:1024px) {
    html {
        overflow-x:hidden;
    }
    .hero-image {
        height: 500px;
    }

    .vertical {
        border-left: 2px solid $white;
        height: 100px;
    }

    .font-2 {
        font-size:$size9;
    }

    .menu-desktop {
        display: none;
    }

    .turning .accordion-header {
        font-size: $size5;
    }

    .turning .accordion-body {
        font-size: $size7;
    }

    .programacao .accordion-header {
        font-size: $size12;
    }

    .programacao .accordion-body {
        font-size: $size7;
    }

    .font-15 {
        font-size:$size6;
    }

    .font-10 {
        font-size:$size2;
    }

    .font-16,
    .font-18 {
        font-size:$size5;
    }

    .font-17 {
        font-size:$size19;
    }

    .data1,
    .data2,
    .data3,
    .data4 {
        font-size: $size4;
    }

    .data5,
    .data6,
    .data7,
    .data8 {
        font-size:$size4;
    }
}
