body {
    font-family: $fonte-varela;
}

.hero-image {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.propevent p {
    width: 90%;
}

.fs-padrao {
    font-size: $padrao;
}

.fs-media {
    font-size: $media;
}

.fs-grande {
    font-size: $grande;
}

.fs-xgrande {
    font-size: $xgrande;
}

.fs-pequena {
    font-size: $pequena;
}

.fundo-marrom {
    background-color: $fundo-marrom;
}

.destaque-marrom {
    color: $marrom;
}

.botao-verde {
    background: $verde-claro;
    width: 11em;
}

.texto-cinza {
    color: $cinza;
}

.borda-redonda {
    border-radius: $borda-redonda
}

#indicatorTime {
    margin-top: -20px;
}

.swiper-container {
    width: 100vw;
    height: 100%;
}

.two {
    width: 90vw;
    height: 100%;

    .two-prev {
        position: absolute;
        z-index: 999;
        left: 0;
        width: 64px;
    }

    .two-next {
        position: absolute;
        z-index: 999;
        right: 0;
        transform: scaleX(-1);
        width: 64px;
    }
}

.enterprise-card {
    height: 430px;
    transition: all 400ms;
    display: flex;
    border-radius: $borda-redonda;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
}

.enterprise-card:hover {
    transition: all 400ms;
    box-shadow: 0px 4px 4px gray;
    background: white;

    img {
        margin-top: -200px;
        transition: all 600ms;
    }

    .enterprise-content {
        opacity: 1;
        color: $cinza;
        visibility: visible;
        position: absolute;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        transition: all 600ms;
    }
}

.dias,
.horas,
.min,
.seg {
    margin-top: -20px;
    font-family: $fonte-varela;
    font-weight: lighter;
}

.enterprise-content {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.data1,
.data2,
.data3,
.data4 {
    background-color: white;
    color: $marrom;
    border: 2px solid orange;
}

.data1 {
    border-top-left-radius: 20px;
}

.data4 {
    border-top-right-radius: 20px;
}

.data1:hover,
.data2:hover,
.data3:hover,
.data4:hover {
    background-color: orange;
    color: white;
    transform: scaleX(1.05);
}

/* The Magic */
.integration-center .accordion:hover .accordion-item:hover .accordion-item-content,
.integration-center .accordion .accordion-item--default .accordion-item-content {
    height: 300px;
    display: flex;
    align-items: flex-end;
}

.integration-center .accordion-item-content,
.integration-center .accordion:hover .accordion-item-content {
    height: 0;
    overflow: hidden;
    transition: height .25s;
}

.integration-center .accordion {
    width: 75%;
    margin-top: -150px;

    @media only screen and (max-width:1024px) {
        margin-top: 0px;
    }
}

.integration-center .accordion:hover {
    width: 100%;
}

.integration-center .accordion .accordion-item {
    background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
    border-bottom: 1px solid #666;
    padding: 2em;
    color: #eee;
}

.integration-center .accordion h1 {
    margin: 0;
}

.integration-center .accordion .accordion-item:nth-child(1) {
    background-color: $fundo-verdeescuro;
    background: $fundo-verdeescuro;

}

.integration-center .accordion .accordion-item:nth-child(2) {
    background-color: $fundo-verdeescuro;
    background: $fundo-verdeescuro;
}

.integration-center .accordion .accordion-item:nth-child(3) {
    background-color: $fundo-verdeescuro;
    background: $fundo-verdeescuro;
}

.integration-center .accordion .accordion-item:nth-child(3):hover {
    background-color: $fundo-verdeescuro;
    background: $fundo-verdeescuro;
    background-image: url('../../public/images/banner/foto-centro-negocios.jpg');
    background-position: right;
    background-size: cover;
}

.integration-center .accordion .accordion-item:nth-child(4) {
    background-color: $fundo-verdeescuro;
    background: $fundo-verdeescuro;
}

.integration-center .accordion .accordion-item:nth-child(5) {
    background-color: $fundo-verdeescuro;
    background: $fundo-verdeescuro;
}

.card-slide .card {
    width: 350px;
    height: 500px;
    background-color: $fundo-verde;
}

.info-speaker {
    top: 0;
    left: 0;
    margin-top: 250px;
    margin-left: 20px;
    position: absolute;
}

.calendar-speaker {
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}

.background-green {
    background-color: $fundo-verde;

    &:before {
        content: url('../../public/images/backgrounds/barrinhas.svg');
        margin-top: -48px;
        margin-left: -380px;
        z-index: 2;
        overflow: hidden;
    }
}

.speakers {
    position: relative;
    height: 70%;
}

.vertical {
    border-left: 2px solid $branca;
    height: 120px;
}

.seta {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.timer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

.less-text {
    width: 80%;
}

.slide-item:hover {
    border-bottom: 4px solid $verde-claro;
    transition: width 600ms;
    cursor: pointer;
}

.menu-ativo {
    border-bottom: 4px solid $verde-claro;
    cursor: pointer;
}

.borda-laranja {
    border: 4px solid orange;
    width: 100px;
}

.speaker-card {
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: $borda-redonda;
    z-index: 0;
}

.speaker-content {
    position: absolute;
    bottom: 0;
    background-color: $verde-claro;
    z-index: 1;
    border-bottom-left-radius: $borda-redonda;
    border-bottom-right-radius: $borda-redonda
}

@media only screen and (max-width:1125px) {
    .hero {
        .fs-grande {
            font-size: 1.5em;
        }
    }

    .hero-image {
        height: 500px;
    }

    .vertical {
        border-left: 2px solid $branca;
        height: 100px;
    }

    .menu-desktop {
        display: none;
    }

    .fs-xgrande {
        font-size: 2.5em;
    }

    .dias,
    .horas,
    .min,
    .seg {
        margin-top: -10px;
        font-family: $fonte-varela;
        font-weight: lighter;
    }
}
