body {
    font-family: $fonte-varela;
    overflow-x: hidden;
}

.hero-image {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.propevent p {
    width: 90%;
}

.marrom-claro {
    color: $marrom-claro;
}

.fs-padrao {
    font-size: $padrao;
}

.fs-media {
    font-size: $media;
}

.fs-grande {
    font-size: $grande;
}

.fs-xgrande {
    font-size: $xgrande;
}

.fs-pequena {
    font-size: $pequena;
}

.fundo-marrom {
    background-color: $fundo-marrom;
}

.destaque-marrom {
    color: $marrom;
}

.botao-verdeescuro {
    background-color: $fundo-verdeescuro;
}

.botao-verde {
    background: $verde-claro;
}

.hero .btn {
    background: $verde-claro;
    width: 320px;
    font-size: 1.2em;
    height: 50px;
    border-radius: 12px;
}

.tourism .btn {
    background: $verde-claro;
    width: 230px;
    height: 50px;
    border-radius: 12px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oficinas .btn {
    width: 220px;
    border-radius: 12px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oficinas .swiper-slide {
    width: 30%;
}

.integration-center .btn {
    background: $marrom;
    width: 230px;
    height: 50px;
    font-size: 1.2em;
    border-radius: 12px;
}

#divID {
    display: none;
}

.integration-center .slide1,
.integration-center .slide2,
.integration-center .slide3 {
    height: 30px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(133, 146, 32);
}

.propevent .img-fluid {
    height: 325px;
}

.texto-cinza {
    color: $cinza;
}

.borda-redonda {
    border-radius: $borda-redonda
}

#indicatorTime {
    margin-top: -20px;
}

#divID1,
#divID2,
#divID4,
#divID5 {
    display: none;
}

.integration-center {
    position: relative;
}

.cartoes {
    position: absolute;
    right: -750px;
    margin-top: -150px
}

.cartao {
    width: 350px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cartao-3 {
    margin-top: -80px;
    border-radius: 15px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    flex-direction: column;
    background-image: url('../../public/images/banner/foto-centro-negocios.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 425px;
    cursor: pointer;
}

.cartao-3 {
    position: relative;
}

.cartao-3:before {
    /* requerido */
    content: '';

    /* estilo de preto quase transparente */
    background-color: black;
    opacity: 0.5;

    /* posiciona nos limites do elemento pai */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.card-slide .swiper-container {
    width: 100vw;
    height: 100%;
}

.two {
    width: 100vw;
    height: 100%;

    .two-prev {
        position: absolute;
        z-index: 999;
        left: 0;
        width: 64px;
    }

    .two-next {
        position: absolute;
        z-index: 999;
        right: 0;
        transform: scaleX(-1);
        width: 64px;
    }
}

.enterprise-card {
    height: 430px;
    transition: all 400ms;
    display: flex;
    border-radius: $borda-redonda;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
}

.enterprise-card:hover {
    transition: all 400ms;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: white;

    img {
        margin-top: -200px;
        transition: all 600ms;
    }

    .enterprise-content {
        opacity: 1;
        color: $cinza;
        visibility: visible;
        position: absolute;
        display: flex;
        height: 410px;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        transition: all 600ms;
    }
}

.dias,
.horas,
.min,
.seg {
    margin-top: -10px;
    font-size: $media;
    font-family: $fonte-varela;
    font-weight: lighter;
}

.enterprise-content {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.data1,
.data2,
.data3,
.data4 {
    background-color: white;
    color: $marrom;
    height: 280px;
    z-index: 2;
    font-size: 375%;
    border-bottom: 3px solid $laranja;
    font-weight: lighter;
    cursor: pointer;
}

.data5,
.data6,
.data7,
.data8 {
    background-color: white;
    color: $laranja;
    z-index: 2;
    border-bottom: 3px solid $laranja;
    font-weight: lighter;
    cursor: pointer;
}

.accordion-button:not(.collapsed) {
    color: $marrom;
    box-shadow: 0px white !important;
    background-color: white;
    border: 0px solid white;
}

.accordion-button:focus {
    border: 0px solid white !important;
    box-shadow: 0px white !important;
}


.data1 {
    border-top-left-radius: 20px;
    border-right: 3px solid $laranja;
}

.data4 {
    border-top-right-radius: 20px;
    border-left: 3px solid $laranja;
}

.data3 {
    border-left: 3px solid $laranja;
}

.data1:hover {
    background-color: orange;
    color: white;
    transform: scaleX(1.07);
    transform-origin: left;
}

.data2:hover,
.data3:hover {
    background-color: orange;
    color: white;
    transform: scaleX(1.07);
}

.data4:hover {
    background-color: orange;
    color: white;
    transform: scaleX(1.07);
    transform-origin: right;
}

.info-dates {
    position: relative;
    margin-top: -400px;
}

.card-slide .card {
    width: 350px;
    height: 500px;
    background-color: $fundo-verde;
}

.info-speaker {
    top: 0;
    left: 0;
    margin-top: 244px;
    margin-left: 20px;
    position: relative;
}

.calendar-speaker {
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 25px;
    position: absolute;
}

.fonte-laranja {
    color: $laranja;
}

.background-green {
    background-color: $fundo-verde;

    &:before {
        content: url('../../public/images/backgrounds/barrinhas.svg');
        top: 0;
        left: 0;
        margin-left: -350px;
    }

    &:after {
        content: url('../../public/images/backgrounds/barrinhas.svg');
        position: absolute;
        right: 0;
        margin-top: -151px;
        margin-right: -350px;
    }
}

.speakers {
    position: relative;
    height: 70%;
}

.vertical {
    border-left: 2px solid $branca;
    height: 120px;
    margin-top: -20px;
}

.seta {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.timer {
    font-size: 1em;
}

.less-text {
    width: 80%;
}

.slide-item:hover {
    border-bottom: 4px solid $verde-claro;
    transition: width 600ms;
    cursor: pointer;
}

.menu-ativo {
    border-bottom: 4px solid $verde-claro;
    cursor: pointer;
}

.borda-laranja {
    border: 4px solid orange;
    width: 100px;
}

.speaker-card {
    height: 520px;
    width: 100% !important;
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    border-radius: $borda-redonda;
    z-index: 0;

    &:after {
        content: "";
        height: 100%;
        width: 100%;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6138830532212884) 0%, rgba(0, 0, 0, 0) 100%);
        top: 0;
        left: 0;
        border-radius: 25px;
        background-position: center;
        position: absolute;
        z-index: -1;
    }
}

.card-slide .swiper-slide {
    width: 27%
}

.speaker-content {
    position: absolute;
    bottom: 0;
    background-color: $verde-claro;
    z-index: 1;
    border-bottom-left-radius: $borda-redonda;
    border-bottom-right-radius: $borda-redonda;
}

.data5:hover,
.data6:hover,
.data7:hover,
.data8:hover {
    background-color: $laranja;
    color: $branca;
}

.accordion-prog {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion-prog:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

@media only screen and (max-width:1125px) {
    .hero {
        .fs-grande {
            font-size: 1.5em;
        }
    }

    .hero-image {
        height: 500px;
    }

    .vertical {
        border-left: 2px solid $branca;
        height: 100px;
    }

    .menu-desktop {
        display: none;
    }

    .fs-xgrande {
        font-size: 2.5em;
    }

    .dias,
    .horas,
    .min,
    .seg {
        margin-top: -10px;
        font-family: $fonte-varela;
        font-weight: lighter;
    }
}
