$font-varela: 'Varela Round', sans-serif;
$size1: 1em;
$size2: 3em;
$size3: 0.9em;
$size4: 1.8em;
$size5: 1.2em;
$size6: 2.1em;
$size7: 0.8em;
$size8: 0.82em;
$size9: 2em;
$size10: 5em;
$size11: 1.6em;
$size12: 1.4em;
$size13: 1.5em;
$size14: 1.17em;
$size15: 4em;
$size16: 1.65em;
$size17: 1.05em;
$size18: 1.7em;
$size19: 0.7em;
$size20: 0.85em;
$size21: 1.3em;
$size22: 3.5em;
$size23: 4.88em;

$lineheight1: 120%;
$lineheight2: 150%;
$lineheight3: 100%;
$lineheight4: 140%;

$brown: rgb(96, 57, 19);
$lbrown: rgb(169, 123, 80);
$orange: rgb(249, 160, 34);
$dgreen: rgb(135, 152, 54);
$gray: rgb(192, 192, 192);
$lgreen: rgb(165, 188, 57);
$white: rgb(255, 255, 255);

$rounded-border: 20px;
