$branca:#fff;

$fonte-varela: 'Varela Round',
sans-serif;

$pequena: 0.8em;

$padrao: 1em;

$marrom: rgb(96, 57, 19);

$fundo-marrom: rgb(96, 57, 19);

$fundo-verdeescuro: rgb(135, 152, 54);

$fundo-verde: rgb(165, 188, 57);

$laranja: rgb(249, 160, 34);

$verde-claro: rgb(165, 188, 57);

$cinza: rgb(192, 192, 192);

$media:1.5em;

$xgrande: 4em;

$grande:3em;

$borda-redonda: 20px;

$fonte-arial: 'Arial';
