$branca:#fff;

$fonte-varela: 'Varela Round',
sans-serif;

$pequena: 0.8em;

$padrao: 1em;

$marrom: #5c2e00;

$fundo-marrom: #5c2e00;

$fundo-verdeescuro: #808000;

$fundo-verde: rgb(160, 180, 7);

$verde-claro: rgb(160, 180, 7);

$cinza: rgb(200, 200, 200);

$media:1.5em;

$xgrande: 4em;

$grande:3em;

$borda-redonda: 20px;

$fonte-arial: 'Arial';
