html,
body {
  font-family: "Varela Round", sans-serif;
  overflow-x: hidden;
  font-size: 1em;
}

header {
  font-size: 0.95em;
}

.font-1 {
  font-size: 1em;
}

.font-2 {
  font-size: 3em;
}

.font-3 {
  font-size: 0.9em;
}

.font-4 {
  font-size: 1.8em;
}

.font-5 {
  font-size: 1.2em;
}

.font-6 {
  font-size: 2.1em;
}

.font-7 {
  font-size: 0.8em;
}

.font-8 {
  font-size: 0.82em;
}

.font-9 {
  font-size: 2em;
}

.font-10 {
  font-size: 5em;
}

.font-11 {
  font-size: 1.6em;
}

.font-12 {
  font-size: 1.4em;
}

.font-13 {
  font-size: 1.5em;
}

.font-14 {
  font-size: 1.17em;
}

.font-15 {
  font-size: 4em;
}

.font-16 {
  font-size: 1.65em;
}

.font-17 {
  font-size: 1.05em;
}

.font-18 {
  font-size: 1.7em;
}

.font-19 {
  font-size: 0.75em;
}

.font-20 {
  font-size: 0.85em;
}

.font-21 {
  font-size: 1.3em;
}

.font-22 {
  font-size: 3.5em;
}

.font-23 {
  font-size: 4.88em;
}

.lineheight-1 {
  line-height: 120%;
}

.lineheight-2 {
  line-height: 150%;
}

.lineheight-3 {
  line-height: 100%;
}

.lineheight-4 {
  line-height: 140%;
}

.hero {
  padding-top: 30px;
  padding-bottom: 30px;
  background-size: cover;
}

.tourism {
  background-position: center;
  background-size: cover;
}

.propevent p {
  width: 90%;
}

.lbrown {
  color: #a97b50;
}

.lbrown-background {
  background-color: #a97b50;
}

.brown-background {
  background-color: #603913;
}

.brown-text {
  color: #603913;
}

.dgreen-btn {
  background-color: #879836;
}

.bg-dgreen {
  background-color: #879836;
}

.g-button {
  background: #a5bc39;
}

.hero .btn {
  background: #a5bc39;
  width: 320px;
  font-size: 1.2em;
  height: 50px;
  border-radius: 12px;
}

.tourism .btn {
  background: #a5bc39;
  width: 230px;
  height: 50px;
  border-radius: 12px;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oficinas .btn {
  width: 220px;
  border-radius: 12px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.programacao .btn {
  width: 200px;
  border-radius: 12px;
  height: 45px;
  border-radius: 16px;
}

.oficinas .swiper-slide {
  width: 30%;
}

.integration-center .slide1,
.integration-center .slide2,
.integration-center .slide3 {
  height: 30px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #859220;
}

.propevent .img-fluid {
  height: 325px;
}

.gray-text {
  color: silver;
}

.rounded-border {
  border-radius: 20px;
}

#indicatorTime {
  margin-top: -20px;
}

.swipe-right {
  margin-top: -80px;
  height: 32px;
  z-index: 5;
}

.swipe-right2 {
  bottom: 0;
  width: 32px;
  height: 32px;
  right: -50%;
}

.dias,
.horas,
.min,
.seg {
  margin-top: -10px;
  font-size: 1.5em;
  font-family: "Varela Round", sans-serif;
  font-weight: lighter;
}

.turning .accordion-button:not(.collapsed) {
  color: transparent;
  box-shadow: 0px white;
  background-color: white;
  border: 0px solid white;
  display: none;
}
.turning .accordion-button:not(.collapsed) .orange-border {
  border: 0px solid white;
}

.integration-center {
  position: relative;
}
.integration-center .btn {
  background: #603913;
  width: 230px;
  height: 50px;
  font-size: 1.2em;
  border-radius: 12px;
}
.integration-center .accordion {
  margin-top: -220px;
  cursor: pointer;
}
.integration-center .accordion-body {
  height: 450px;
  width: 450px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(/images/foto-centro-negocios.jpg?00284fbd85f399418b0f3b5b7de46549);
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 15px;
}
.integration-center .accordion-body:before {
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 15px;
  z-index: 0;
}
.integration-center .text-above {
  z-index: 3;
}
.integration-center .accordion-button:not(.collapsed) {
  color: #603913;
  box-shadow: 0px white;
  background-color: white;
  border: 0px solid white;
  display: none;
}
.integration-center .accordion-item {
  border: 0px solid #879836;
  width: 390px;
  border-radius: 15px;
}
.integration-center .accordion-button:focus {
  border-color: white;
  box-shadow: 0 0 0 0rem;
}
.integration-center .accordion-button:after {
  display: none;
}

.turning .accordion-button:focus {
  border-color: white;
  box-shadow: 0 0 0 0rem;
}

.programacao .accordion-button:not(.collapsed) {
  color: #603913;
  box-shadow: 0px white;
  background-color: white;
  border: 0px solid white;
}
.programacao .accordion-button:focus {
  border-color: white;
  box-shadow: 0 0 0 0rem;
}

.data1 {
  border-top-left-radius: 20px;
  border-right: 4px solid #f9a022;
}

.data1,
.data2,
.data3,
.data4 {
  background-color: white;
  color: #603913;
  height: 280px;
  z-index: 2;
  font-size: 375%;
  border-bottom: 4px solid #f9a022;
  font-weight: lighter;
  cursor: pointer;
}

.data1:hover {
  background-color: orange;
  color: white;
  transform: scaleX(1.07);
  transform-origin: left;
}

.data-ativo {
  background-color: orange;
  color: white;
  transform: scaleX(1.07);
  transform-origin: left;
}

.data4 {
  border-top-right-radius: 20px;
  border-left: 4px solid #f9a022;
}

.data4:hover {
  background-color: orange;
  color: white;
  transform: scaleX(1.07);
  transform-origin: right;
}

.data3 {
  border-left: 4px solid #f9a022;
}

.data2:hover,
.data3:hover {
  background-color: orange;
  color: white;
  transform: scaleX(1.07);
}

.data5,
.data6,
.data7,
.data8 {
  background-color: white;
  color: #f9a022;
  z-index: 2;
  border-bottom: 4px solid #f9a022;
  font-weight: lighter;
  cursor: pointer;
}

.data5:hover,
.data6:hover,
.data7:hover,
.data8:hover {
  background-color: #f9a022;
  color: white;
}

.data5:hover {
  background-color: orange;
  color: white;
  transform: scaleX(1.07);
  transform-origin: left;
}

.data8:hover {
  background-color: orange;
  color: white;
  transform: scaleX(1.07);
  transform-origin: right;
}

.data6:hover,
.data7:hover {
  background-color: orange;
  color: white;
  transform: scaleX(1.07);
}

.info-dates {
  position: relative;
  margin-top: -640px;
}

.virada {
  height: 1200px;
  background-size: cover;
}

.one {
  width: 100vw;
  height: 100%;
}

.three {
  width: 80vw;
  height: 100%;
}

.one .swiper-slide {
  width: 27%;
}

.two {
  width: 100vw;
  height: 100%;
  position: relative;
}
.two .swiper-slide {
  width: 27%;
}
.two .two-prev {
  position: absolute;
  z-index: 999;
  left: -5%;
  width: 64px;
}
.two .two-next {
  position: absolute;
  z-index: 999;
  right: -5%;
  transform: scaleX(-1);
  width: 64px;
}

.info-speaker {
  top: 0;
  left: 0;
  margin-top: 244px;
  margin-left: 20px;
  position: relative;
}

.calendar-speaker {
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 25px;
  position: absolute;
}

.orange-font {
  color: #f9a022;
}

.background-green {
  background-color: #a5bc39;
}
.background-green:before {
  content: url(/images/barrinhas.svg?0ab47c1c1823316c7706d26524642f6b);
  top: 0;
  left: 0;
  margin-left: -350px;
}
.background-green:after {
  content: url(/images/barrinhas.svg?0ab47c1c1823316c7706d26524642f6b);
  position: absolute;
  right: 0;
  margin-top: -151px;
  margin-right: -350px;
}

.speakers {
  position: relative;
  height: 70%;
}

.vertical {
  border-left: 2px solid white;
  height: 120px;
  margin-top: -20px;
}

.seta {
  transform: scaleX(-1);
}

.timer {
  font-size: 1em;
}

.less-text {
  width: 80%;
}

.slide-item:hover {
  border-bottom: 4px solid #a5bc39;
  transition: width 600ms;
  cursor: pointer;
}

.menu-ativo {
  border-bottom: 4px solid #a5bc39;
  cursor: pointer;
}

.orange-border {
  border: 4px solid #f9a022;
  width: 100px;
}

.turning .orange-border {
  border: 2px solid #f9a022;
  width: 100px;
}

.calendar-turning {
  position: absolute;
  top: 30px;
  left: 35px;
  z-index: 9;
}

.sustainablewear .g-button {
  border-radius: 15px;
}

.calendar-border {
  border: 4px solid #f9a022;
  width: 80px;
}

.turning {
  position: relative;
}
.turning:after {
  content: url(/images/pontinhos.svg?e80846a9ae457c951a5a5209a1016597);
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 250px;
  height: 250px;
  z-index: -1;
}
.turning .btn {
  width: 200px;
  border-radius: 12px;
  height: 45px;
  border-radius: 16px;
}

.programacao {
  position: relative;
  z-index: 1;
}
.programacao:before {
  content: url(/images/pontinhos.svg?e80846a9ae457c951a5a5209a1016597);
  position: absolute;
  top: 0;
  width: 250px;
  height: 250px;
  left: -200px;
  margin-top: 55px;
  z-index: -1;
}

.orange-border-bottom {
  border-bottom: 4px solid #f9a022;
}

.speaker-card {
  height: 520px;
  width: 100% !important;
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  border-radius: 20px;
  cursor: pointer;
  z-index: 0;
}
.speaker-card:after {
  content: "";
  height: 100%;
  width: 100%;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6138830532) 0%, rgba(0, 0, 0, 0) 100%);
  top: 0;
  left: 0;
  border-radius: 25px;
  background-position: center;
  position: absolute;
  z-index: -1;
}

.speaker-content {
  position: absolute;
  bottom: 0;
  background-color: #a5bc39;
  z-index: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.enterprise-card {
  height: 430px;
  transition: all 400ms;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  transition: all 200ms;
  cursor: pointer;
}

.enterprise-content {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.enterprise-card:hover {
  transition: all ease-in-out 200ms;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: white;
}
.enterprise-card:hover img {
  margin-top: -200px;
  transition: all ease-in-out 200ms;
}
.enterprise-card:hover .enterprise-content {
  opacity: 1;
  color: silver;
  visibility: visible;
  position: absolute;
  display: flex;
  height: 410px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  transition: all ease-in-out 200ms;
}

.enterprise-card-mobile {
  height: 430px;
  transition: all 400ms;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: white;
}
.enterprise-card-mobile img {
  margin-top: 50px;
}
.enterprise-card-mobile .enterprise-content-mobile {
  opacity: 1;
  color: silver;
  visibility: visible;
  display: flex;
  height: 250px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}

.accordion-prog {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.bus {
  position: relative;
  margin-left: 20px;
}
.bus:before {
  content: url(/images/onibus.svg?7e89447e41d3326403ad7e4a8aaa0e26);
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 1;
  margin-top: 5px;
  top: 0;
  left: -20px;
}

.metro {
  position: relative;
  margin-left: 20px;
}
.metro:before {
  content: url(/images/metro.svg?e0f77d29ea53350a613854010ec3b7eb);
  width: 28px;
  height: 28px;
  position: absolute;
  z-index: 1;
  margin-top: 5px;
  top: 0;
  left: -20px;
}

.localization {
  position: relative;
  margin-left: 20px;
}
.localization:before {
  content: url(/images/endereco.svg?b9f6079b290a55735e20c385294470fc);
  width: 28px;
  height: 28px;
  margin-top: 5px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -20px;
}

.park {
  position: relative;
  margin-left: 20px;
}
.park:before {
  content: url(/images/estacionamento.svg?684a793aeb2113b54ceb43e31bfb474f);
  width: 28px;
  height: 28px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -20px;
}

.table-pavilion {
  width: 31%;
  height: 100%;
  background-color: #f9a022;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #f9a022 !important;
}

.accordion-button:after {
  background-image: url(/images/seta-marrom.svg?6e1338559a2104c6783dfda9408bdb88);
  background-size: 0.75rem !important;
  transform: rotate(-90deg);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(/images/seta-marrom.svg?6e1338559a2104c6783dfda9408bdb88);
  transform: rotate(-270deg) !important;
}

.btn-outline-success {
  color: #a5bc39 !important;
  border-color: #a5bc39 !important;
  width: 120px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.btn-outline-success:hover {
  background-color: transparent !important;
  background-color: #a5bc39 !important;
  color: white !important;
  transition: background-color 200ms !important;
}

.tourism .elements {
  z-index: 10;
  position: fixed;
  top: 70px;
  right: -350px;
  width: 100% !important;
  left: auto !important;
  margin: 0;
}

.tourism .swiper-pagination-bullet {
  border-radius: 0;
  width: 5.3%;
  height: 30px;
  font-size: 0.7em;
  text-align: center;
  line-height: 30px;
  color: #fff;
  opacity: 1;
  background: transparent;
}

.tourism .swiper-pagination-bullet:hover {
  border-bottom: 4px solid #a5bc39;
  transition: width 600ms;
  cursor: pointer;
}

.tourism .swiper-pagination-bullet-active {
  border-bottom: 4px solid #a5bc39;
}

@media only screen and (min-width: 1001px) and (max-width: 1199px) {
  header {
    font-size: 0.8em;
  }

  .info-dates {
    margin-top: -550px !important;
  }

  .oficinas .swiper-slide {
    width: 30% !important;
  }
}
@media only screen and (max-width: 1000px) {
  .integration-center .accordion {
    margin-top: 0;
  }
  .integration-center .accordion-item {
    width: 100%;
  }
  .integration-center .accordion-body {
    height: 450px;
    width: 100%;
  }

  .info-dates {
    margin-top: -650px;
  }

  header {
    font-size: 0.8em;
  }

  .hero-image {
    height: 500px;
  }

  .hero .btn,
.tourism .btn,
.oficinas .btn,
.sustainablewear .g-button,
.turning .btn,
.integration-center .btn,
.programacao .btn {
    font-size: 0.8em;
    width: 205px;
    height: 35px;
  }

  .vertical {
    border-left: 2px solid white;
    height: 100px;
  }

  .font-2 {
    font-size: 1.4em;
  }

  .menu-desktop {
    display: none;
  }

  .turning .accordion-header {
    font-size: 1.2em;
  }
  .turning .accordion-body {
    font-size: 0.8em;
  }

  .programacao .accordion-header {
    font-size: 1.4em;
  }
  .programacao .accordion-body {
    font-size: 0.8em;
  }

  .font-19 {
    font-size: 0.7em;
  }

  .font-15,
.font-23 {
    font-size: 2.1em;
  }

  .font-10 {
    font-size: 3em;
  }

  .font-16,
.font-18 {
    font-size: 1.2em;
  }

  .font-17 {
    font-size: 0.7em;
  }

  .data1,
.data2,
.data3,
.data4 {
    font-size: 1.4em;
    height: 60px !important;
  }

  .data5,
.data6,
.data7,
.data8 {
    font-size: 1.4em;
    height: 80px !important;
  }
}
@media only screen and (max-width: 750px) {
  .table-pavilion {
    width: 100%;
    height: 100%;
    background-color: #f9a022;
  }

  .one {
    width: 90vw;
    height: 100%;
  }

  .two {
    width: 90vw;
    height: 100%;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1000px) {
  .info-dates {
    margin-top: -750px;
  }

  .data1,
.data2,
.data3,
.data4 {
    height: 180px !important;
  }
}
@media only screen and (min-width: 401px) and (max-width: 499px) {
  .data1,
.data2,
.data3,
.data4 {
    height: 140px !important;
  }
}
@media only screen and (max-width: 400px) {
  .info-dates {
    margin-top: -600px;
  }

  .data1,
.data2,
.data3,
.data4 {
    height: 120px !important;
  }
}

